worker_processes 1;

events { worker_connections 1024; }

http {
    server {
        listen 8090;

        location / {
        {% if PROXY_TO is defined %}
            proxy_pass          {{PROXY_TO}};
        {% else %}
            proxy_pass          "http://mock:1080";
        {% endif %}
            proxy_redirect     off;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
        }
    }
}